{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  <div class="main__content">
    {{#with data}}

    <div class="library__title">
      <h1>My Library</h1>
      <a href="/spotify-search">
        <img src="svg/spotify-search.svg" height="44px">
      </a>
      <a href="/spotify-choose">
        <img src="svg/add_button.svg" height="44px">
      </a>
    </div>



    <ul class="playlist__list">
      {{#each list}}
      <a href="/spotify-playlist?id={{id}}">
        <li class="playlist">


          <img src="{{image}}" alt="{{name}}" height="100px">
          <div class="playlist__content">
            <strong class="playlist__name">{{name}}</strong>
            <span class="playlist__amount">Amount of songs: {{amount}}</span>
          </div>

        </li>
      </a>
      {{/each}}
    </ul>
    {{/with}}
  </div>
</main>


{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}