<div class="field {{#if disabled}}field--disabled{{/if}}">
    <label for="{{name}}" class="field__label">{{label}}</label>
    <input type="{{#if type}}{{type}}{{/if}}" name="{{name}}" value="{{#if value}}{{value}}{{/if}}" class="field__input"
        {{#if ro}}readonly{{/if}}>
</div>